Repository KappaPrajd/netfire-challenge: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, npm run format

chore: set up lint and formatting checks in ci/cd
  .github/workflows/main.yml
  .lintstagedrc
  package.json
Due: npm run format

fix: ci/cd task execution order
  .github/workflows/main.yml
Due: npm run format

feat: added base global styles
  src/App.tsx
  src/global.css
Due: npm run lint:fix, npm run format

feat: added placeholder home page
  src/App.tsx
  src/pages/Home.tsx
Due: npm run lint:fix, npm run format

improvement: adjusted html title
  index.html
Due: npm run format

feat: set up google fonts
  index.html
  src/global.css
Due: npm run format

feat: added advert bar
  src/global.css
  src/pages/Home.tsx
  src/views/AdvertBar/AdvertBar.module.css
  src/views/AdvertBar/index.tsx
Due: npm run lint:fix, npm run format

feat: added gradient box
  src/pages/Home.tsx
  src/views/GradientBox/GradientBox.module.css
  src/views/GradientBox/index.tsx
Due: npm run lint:fix, npm run format

feat: added nav items to navbar
  src/components/NavItem/NavItem.module.css
  src/components/NavItem/index.tsx
  src/components/NavItem/types.ts
  src/global.css
  src/pages/Home.tsx
  src/views/AdvertBar/AdvertBar.module.css
  src/views/Navbar/NavItems/NavItems.module.css
  src/views/Navbar/NavItems/index.tsx
  src/views/Navbar/Navbar.module.css
  src/views/Navbar/index.tsx
Due: npm run lint:fix, npm run format

feat: added logo to navbar
  public/react-logo.svg
  src/views/Navbar/Logo/Logo.module.css
  src/views/Navbar/Logo/index.tsx
  src/views/Navbar/Navbar.module.css
  src/views/Navbar/index.tsx
Due: npm run lint:fix, npm run format

feat: added icons to navbar
  package-lock.json
  package.json
  src/components/StyledIcon/StyledIcon.module.css
  src/components/StyledIcon/index.tsx
  src/views/Navbar/Icons/Icons.module.css
  src/views/Navbar/Icons/index.tsx
  src/views/Navbar/index.tsx
Due: npm run lint:fix, npm run format

chore: bump github actions to use node 20
  .github/workflows/main.yml
Due: npm run format

refactor: improved reusability of views
  src/pages/Home.tsx
  src/pages/Home/Home.module.css
  src/pages/Home/index.tsx
  src/views/AdvertBar/AdvertBar.module.css
  src/views/GradientBox/GradientBox.module.css
Due: npm run lint:fix, npm run format

feat: added background video to hero section
  public/bg-video.mp4
  src/pages/Home/Home.module.css
  src/pages/Home/index.tsx
  src/views/HeroSection/HeroSection.module.css
  src/views/HeroSection/Video/Video.module.css
  src/views/HeroSection/Video/index.tsx
  src/views/HeroSection/index.tsx
Due: npm run lint:fix, npm run format

feat: added custom controls to video
  src/views/HeroSection/HeroSection.module.css
  src/views/HeroSection/Video/Video.module.css
  src/views/HeroSection/Video/index.tsx
  src/views/HeroSection/VideoControls/PlayPause/PlayPause.module.css
  src/views/HeroSection/VideoControls/PlayPause/index.tsx
  src/views/HeroSection/VideoControls/PlayPause/types.ts
  src/views/HeroSection/VideoControls/PlaybackTime/PlaybackTime.module.css
  src/views/HeroSection/VideoControls/PlaybackTime/index.tsx
  src/views/HeroSection/VideoControls/PlaybackTime/types.ts
  src/views/HeroSection/VideoControls/Timeline/Timeline.module.css
  src/views/HeroSection/VideoControls/Timeline/index.tsx
  src/views/HeroSection/VideoControls/Timeline/types.ts
  src/views/HeroSection/VideoControls/VideoControls.module.css
  src/views/HeroSection/VideoControls/index.tsx
  src/views/HeroSection/VideoControls/types.ts
  src/views/HeroSection/index.tsx
Due: npm run lint:fix, npm run format

refactor: semantic html
  src/views/HeroSection/index.tsx
  src/views/Navbar/NavItems/index.tsx
  src/views/Navbar/index.tsx
Due: npm run lint:fix, npm run format

refactor: moved GradientBox to components
  src/components/GradientBox/GradientBox.module.css
  src/components/GradientBox/index.tsx
  src/pages/Home/index.tsx
Due: npm run lint:fix, npm run format

feat: added badge to hero section
  src/global.css
  src/views/HeroSection/Badge/Badge.module.css
  src/views/HeroSection/Badge/index.tsx
  src/views/HeroSection/HeroSection.module.css
  src/views/HeroSection/index.tsx
Due: npm run lint:fix, npm run format

feat: added heading to hero section
  src/components/GradientBox/GradientBox.module.css
  src/components/GradientText/GradientText.module.css
  src/components/GradientText/index.tsx
  src/global.css
  src/views/HeroSection/Heading/Heading.module.css
  src/views/HeroSection/Heading/index.tsx
  src/views/HeroSection/HeroSection.module.css
  src/views/HeroSection/index.tsx
Due: npm run lint:fix, npm run format

feat: added badge to example section
  src/pages/Home/Home.module.css
  src/pages/Home/index.tsx
  src/views/ExampleSection/Badge/Badge.module.css
  src/views/ExampleSection/Badge/index.tsx
  src/views/ExampleSection/ExampleSection.module.css
  src/views/ExampleSection/index.tsx
Due: npm run lint:fix, npm run format

refactor: made section badge generic
  src/components/SectionBadge/SectionBadge.module.css
  src/components/SectionBadge/index.tsx
  src/views/ExampleSection/Badge/index.tsx
  src/views/ExampleSection/ExampleSection.module.css
  src/views/ExampleSection/index.tsx
  src/views/HeroSection/Badge/Badge.module.css
  src/views/HeroSection/Badge/index.tsx
  src/views/HeroSection/HeroSection.module.css
  src/views/HeroSection/index.tsx
Due: npm run lint:fix, npm run format

improvement: video control timeline fluid movement
  src/views/HeroSection/VideoControls/VideoControls.module.css
  src/views/HeroSection/VideoControls/index.tsx
Due: npm run lint:fix, npm run format

improvement: styling consistency with design
  src/views/Navbar/Navbar.module.css
Due: npm run format

feat: added description to example section
  src/pages/Home/index.tsx
  src/views/ExampleSection/Description/Description.module.css
  src/views/ExampleSection/Description/index.tsx
  src/views/ExampleSection/ExampleSection.module.css
  src/views/ExampleSection/index.tsx
Due: npm run lint:fix, npm run format

refactor: made logo component reuseable
  src/components/Logo/Logo.module.css
  src/components/Logo/index.tsx
  src/views/Navbar/Logo/Logo.module.css
  src/views/Navbar/Logo/index.tsx
  src/views/Navbar/Navbar.module.css
  src/views/Navbar/index.tsx
Due: npm run lint:fix, npm run format

feat: added footer
  src/pages/Home/Home.module.css
  src/pages/Home/index.tsx
  src/views/Footer/Copyright/Copyright.module.css
  src/views/Footer/Copyright/index.tsx
  src/views/Footer/Footer.module.css
  src/views/Footer/LogoBox/LogoBox.module.css
  src/views/Footer/LogoBox/index.tsx
  src/views/Footer/index.tsx
Due: npm run lint:fix, npm run format

improvement: styled icon semantic html
  src/components/StyledIcon/StyledIcon.module.css
  src/components/StyledIcon/index.tsx
Due: npm run lint:fix, npm run format

feat: added project ts path aliases
  package-lock.json
  package.json
  src/App.tsx
  src/pages/Home/index.tsx
  src/views/ExampleSection/Description/index.tsx
  src/views/ExampleSection/index.tsx
  src/views/Footer/LogoBox/index.tsx
  src/views/HeroSection/Heading/index.tsx
  src/views/HeroSection/index.tsx
  src/views/Navbar/Icons/index.tsx
  src/views/Navbar/NavItems/index.tsx
  src/views/Navbar/index.tsx
  tsconfig.json
  vite.config.ts
Due: npm run lint:fix, npm run format

chore: fix dependencies versions
  package-lock.json
  package.json
Due: npm run format

docs: added project docs
  README.md
Due: npm run format

docs: fixed typo in notes block
  README.md
Due: npm run format

chore: added license
  LICENSE
Due: none

improvement: video controls styling consistency with design
  src/views/HeroSection/VideoControls/VideoControls.module.css
Due: npm run format

Path conditions:
  npm run lint:fix: any of: *.{ts,tsx}
  npm run format: any of: *.{css,scss,html,js,ts,tsx,json,md,yml,yaml}
